table,
th,
td {
    border: 1px solid black;
}

body {
    background-color: #EDF2F7;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #3f98d2;
    display: flex;
}

.div-header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#contenido {
    width: 80%;
    margin: 10px auto;
}

#mensaje {
    margin-top: 10px;
}